In [ ]:
import numpy as np

In [ ]:
X=np.array([1,3,5,7]) #experience
y=np.array([3,6,9,12]) #salary (LPA)

In [ ]:
sum_X=np.sum(X)
sum_y=np.sum(y)
sum_X2=np.sum(X**2)
sum_Xy=np.sum(X*y)

In [ ]:
n=len(X)

In [ ]:
m=(n*sum_Xy-sum_X*sum_y)/(n*sum_X2-sum_X**2)

In [ ]:
c=(sum_y-m*sum_X)/n

In [ ]:
print("Slope:",m)
print("Intercept:",c)

Slope: 1.5
Intercept: 1.5

In [ ]:
experience=10
predicted_salary=m*experience+c
print("Predicted salary:",predicted_salary)

Predicted salary: 16.5